# vim: set ft=sh:

on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

service start_hci_filter /system/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth qcom_diag
    disabled
    writepid /dev/cpuset/system-background/tasks

service config_bt_addr /system/bin/btnvtool -O
    class core
    user bluetooth
    group bluetooth radio
    oneshot

service config_bluetooth /system/bin/sh /vendor/etc/init/hw/init.qcom.bt.sh "onboot"
    class core
    user root
    oneshot

service hciattach /system/bin/sh /vendor/etc/init/hw/init.qcom.bt.sh
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off
