# vim: set ft=sh:

service netmgrd /system/bin/netmgrd
    class main
    writepid /dev/cpuset/system-background/tasks

on boot
    # Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd
