# vim: set ft=sh:

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

on property:vold.decrypt=trigger_restart_min_framework
    start time_daemon
